@import 'https://fonts.googleapis.com/css2?family=Manrope&display=swap';

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

.btn-left {
	width: 208px;
	height: 64px;
	background: #ff6600;
	border-radius: 10px;
	border: 0px solid #ff6600;
}

.btn-left span {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;

	/* Light/White */

	color: #ffffff;
}

.btn-right {
	width: 208px;
	height: 64px;
	background: #f5f5f5;
	border-radius: 10px;
	border: 1px solid;
}

.btn-right span {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;

	/* Light/White */

	color: #2b2b2b;
}
.heading {
	width: 440px;
}

.btn {
	display: flex;
	gap: 32px;
	margin-top: 21px;
	width: 440px;
}

.heading-h2 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 180%;
	color: #2b2b2b;
}

.heading-h1 {
	width: 502px;
	height: 219px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 130%;
	color: #2b2b2b;
}
.heder-content {
	align-items: center;
	justify-content: center;
	margin-top: 67px;
	margin-top: 47px;
	display: flex;
	/* max-height: 100%; */
	/* max-width: 88%; */
	gap: 127px;
}

.heder-content-data {
	display: flex;
	flex-direction: column;
	max-height: 416px;
	flex-wrap: wrap;
	gap: 45px;
	/* margin-left: -271px; */
	width: 1080px;
	/* height: 76px; */
}
body {
	background-color: #fafafa;
}

.logo-div {
	display: flex;
	align-items: center;
	gap: 21px;
}

.header {
	position: sticky;
	top: 0;
	/* background-color: white; */
	/* position: sticky; */
	/* position: fixed; */
	/* top: 0px; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 56px;
	/* margin-left: 120px; */
	/* margin-right: 120px; */
	gap: 115px;
}

.header-button-class {
	height: 55px;
	width: 146px;
	color: white;
	font-size: 16px;
	font-family: 'Manrope', sans-serif;
	background-color: #ff6600;
	border-radius: 8px;
	border: none;
}

.sub-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 79px;
}

.nav-link {
	display: flex;
	justify-content: start;
	list-style: none;
	gap: 33px;
}

.About-Us,
.Our-interests,
.Values,
.Current-Projects {
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
}

.home {
	font-family: 'Manrope', sans-serif;
	color: #ff6600;
	font-size: 18px;
}

.image-div-1 {
	order: 1;
	width: 51;
}
.intrest-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 158px;
}
.image-div {
	margin-top: 127px;
	margin-left: 115px;
	/* height: 432px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 460px;
	/* /* gap: 2px; */
}

.left-side-1 {
	display: flex;
	width: 502px;
	height: 201px;
}

.lets-talk {
	font-size: 56px;
	font-family: 'Manrope', sans-serif;
}

.content {
	margin-top: 38px;
	width: 448px;
	height: 64px;
}

.content-text {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 180%;
}

.image-div-buton {
	margin-top: 74px;
	margin-right: 49px;
	width: 453px;
	order: 2;
}

.start-button {
	width: 208px;
	height: 64px;
	background-color: #ff6600;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	border: none;
	border-radius: 10px;
}

.lern-more {
	margin-left: 32px;
	width: 208px;
	height: 64px;
	background-color: #f5f5f5;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #2b2b2b;

	border: 1px solid #ff6600;
	border-radius: 10px;
}

.text-color {
	color: #ff6600;
}

.image-div-2 {
	width: 732px;
	height: 390px;
	order: 3;

	/* margin-top: 10px; */
}

.clients {
	/* border: 1px solid black; */
	/* margin-left: 120px; */
	/* margin-right: 120px; */
	margin-top: 159px;
	/* height: 57px; */
	gap: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slack {
	/* margin: 6px; */
	/* width: 169px;
    height: 51px; */
	margin-top: 6px;
}

.company-img {
	width: 154px;
}

.line {
	height: 57px;

	border: 2px solid #c0c5d2;
}

.about-div {
	/* border: 1px solid black; */
	margin-top: 103px;
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	margin-left: 102px;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.aboutus-img {
	margin-top: 0px;
	/* width: ;
	height: ; */
	/* border: 1px solid#FF6600; */
}
/* 
.aboutus-img img {
	height: 281px;
} */

.about-h1 {
	font-family: 'Manrope';
	font-style: normal;
	font-size: 45px;

	color: #2b2b2b;
}

.about-content {
	/* margin-left: 25px; */

	/* margin-left: 25px; */
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.about-content-data {
	width: 555px;
	height: 108px;

	/* Regular/R-20-180% */

	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
	/* or 36px */

	/* Dark/Gray */

	color: #5b5b5b;
}

.About-table {
	display: flex;
	margin-top: 30px;
	width: 639px;
	height: 99px;
	background: #ffffff;
	box-shadow: 0px 2px 9px 4px rgb(239 235 235 / 25%);
}
.About-table-data {
	margin-top: 10px;
	margin-left: 14px;
}
.About-table-data span {
	/* margin-top: 10px; */
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #5b5b5b;
}

.aboout-line {
	margin-top: 21px;
	margin-left: 29px;
	margin-right: 29px;
	height: 60px;
	/* border: 1px solid black; */
	width: 0px;
	border: 1px solid #ff6600;
}

.intrest {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 41px;
	line-height: 130%;
	/* margin-top: 150px; */
	text-align: center;
}

.aboutus-img-1 {
	display: none;
}

.intrest-data {
	margin-top: 35px;
	/* margin-left: 337px; */
	text-align: center;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
	color: #5b5b5b;
	width: 765px;
	height: 108px;
}

.intrest-box-all {
	margin-top: 65px;
	/* width: 379px; */
	height: 322px;
	margin-left: 122px;
	margin-right: 122px;
	gap: 23px;
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
}

.intrest-box {
	/* margin-top: 40px; */
	width: 370px;
	height: 316px;
	/* border: 1px solid black; */

	background: #ffffff;
	border-radius: 12px;
	/* margin-left: 132px; */
}

.block-chain-img {
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
}

.h1-blockchain {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 38px;
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.p-blockchain {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 180%;

	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #5b5b5b;
}

.blockchain-read {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #ff6600;
}

.about-number {
	font-family: 'Manrope';
	font-style: normal;
}

.our-value {
	/* width: 718px; */
	height: 356px;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 140px;
	justify-content: center;

	/* border: 1px solid black; */
	display: flex;
	/* width: 614px; */
}

.vlaues {
	margin-top: 20px;
	/* border: 1px solid black; */
	margin-left: 60px;
}

.vlaues-h1 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 52px;
	line-height: 130%;
	/* identical to box height, or 68px */

	/* Dark/Black */

	color: #2b2b2b;
}

.vlaues-p {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
	color: #5b5b5b;
	width: 614px;
	height: 108px;
	margin-top: 35px;
}

.project {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 41px;
	line-height: 130%;
	color: #2b2b2b;
	margin-top: 143px;
	text-align: center;
	margin-bottom: 50px;
}
/* } */

.project-list {
	width: 100%;

	/* margin-top: 29px;
	margin-left: 140px; */
	margin-right: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	/* border: 1px solid black; */
}
.project-box {
	width: 387px;
	height: 495px;
	/* border: 1px solid black; */
	/* border: 1px solid black; */
}

.project-img {
	/* width: 339px; */
}
.p-projectlist {
	margin-top: 10px;
	width: 263px;
	height: 84px;

	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	/* or 42px */

	/* Dark/Black */
	/* background: #2B2B2B; */

	color: #2b2b2b;
}

/* .p2-projectlist {
	margin-top: 10px;
	width: 263px;
	height: 84px;

	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	/* or 42px */

/* Dark/Black */

/* color: #2b2b2b; */
/* } */

.p2-projectlist {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
	/* or 36px */

	/* Dark/Gray */
	/* margin-top: -4px; */

	color: #5b5b5b;

	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
}

.projectlist-span {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	color: #ff6600;
	font-size: 20px;
}
/* 
.footer {
	margin-top: 132px;
	background: #2b2b2b;
}

.footer-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
	padding-top: 56px;
	padding-bottom: 40px;
}

.footer-heading {
	display: flex;
	align-items: center;
	gap: 21px;
}

.footer-heading h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 40.98px;
	font-family: 'Manrope', sans-serif;
	color: #ffffff;
}

.footer-socials {
	display: flex;
	align-items: center;
	gap: 28px;
}

.footer-nav-bar ul {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	padding: 0;
	gap: 40px;
}

.footer-nav-bar ul li {
	white-space: nowrap;
	color: #ffffff;
}

.footer-nav-bar .home,
.footer-nav-bar .about,
.footer-nav-bar .values,
.footer-nav-bar .intrest,
.footer-nav-bar .current {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Manrope', sans-serif;
} */

.footers {
	background-color: #2b2b2b;
	margin-top: 132px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 43px;
}

.logos {
	display: flex;
	margin-top: 23px;
	align-items: center;
	gap: 16px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
	cursor: pointer;
}
.footer-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	list-style: none;
}

.footer-home,
.footer-about,
.footer-our,
.footer-values,
.footer-project {
	/* Regular/R-18 */

	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */

	/* Light/White */
	cursor: pointer;
	color: #ffffff;
}
.logoname {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;

	/* Light/White */

	color: #ffffff;
	cursor: pointer;
}
.toogle {
	display: none;
}

.images-1 {
	width: 739px;
	height: 390px;
}

@media only screen and (max-width: 376px) {
	.heder-content {
		display: block;
	}

	.button {
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}

	/* .open {
	} */

	.sub-nav {
		display: block;
		position: absolute;
		top: 100px;
		right: 0;
		left: 0;
		height: 0;
		overflow: hidden;
		width: 100vw;
		background: black;
		background-color: black;
		color: #f5f5f5;
		transition: 0.7s;
	}

	.sub-nav ul {
		flex-direction: column;

		align-items: center;
	}

	.open {
		display: block;
		height: 60%;
		width: 100%;
		background-color: #fafafa;
		color: black;
		opacity: 0.9;
		padding: 40px 0;
		/* background-color: black; */
	}
	.open ul {
		gap: 20px;
		flex-direction: column;
	}
	.heder-content {
		display: block;
		height: max-content;
		width: 375px;
	}

	.heder-content-data {
		/* display: block; */
		display: block;
		max-height: max-content;
		margin: 20px;
	}
	* {
		margin: 0px;
		padding: 0px;
	}

	.header {
		position: static;
		display: flex;

		align-items: center;
		justify-content: center;

		margin-left: 16px;
		justify-content: space-between;

		margin-right: 16px;
		background-color: unset;
	}
	.toogle {
		display: block;
		width: 29px;
		height: 24px;
	}
	.logo {
		width: 40px;
		height: 40px;
	}

	.header-h1 {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		/* identical to box height */

		/* Dark/Black */

		color: #2b2b2b;
	}
	/* .sub-nav {
		display: none;
	} */

	.image-div {
		margin: unset;
		margin-top: 55px;
		margin-left: 10px;
		margin-right: 10px;
		width: 100%;
		max-width: 100vw;
		margin-inline: 20px;
		align-items: flex-start;
		display: flex;

		/* display: block; */
		/* margin-top: 60px; */
		/* heig; */
		/* width: 360px; */
		flex-direction: column;
		/* height: auto; */
		/* justify-content: center; */
		/* gap: 23px; */
		/* margin-left: 10px; */
		/* display: flex; */
		/* margin: auto; */
		/* margin: ; */
		max-height: none;
		gap: 20px;
		/* height: 800px; */
	}

	.image-div-1 {
		order: 1;
		/* width: 51; */
	}

	.left-side-1 {
		Width: 323px;
		Height: 141px;
	}

	.lets-talk {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		font-size: 36px;
		line-height: 130%;
		/* or 47px */

		text-align: center;

		/* Black */

		color: #2b2b2b;
	}

	.content {
		margin-top: 28px;
		width: 321px;
		height: 50px;
	}

	.content-text {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 180%;
		/* or 25px */

		text-align: center;
		color: #5b5b5b;
	}
	.image-div-2 {
		order: 2;
		width: 309px;
		height: 164px;
		margin-top: 20px;
	}

	.image-div-buton {
		margin-top: unset;
		margin-top: 20px;
		/* margin-left: 20px;
		max-width: 340px; */
	}

	.start-button {
		width: 161px;
		height: 48px;
	}
	.lern-more {
		order: 3;
		width: 160px;
		height: 48px;
		margin: unset;
		margin-left: 20px;
		/* } */
	}

	.start-text {
		width: 80px;
		height: 19px;
		font-size: unset;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		text-align: center;
	}

	.clients {
		margin: unset;
		margin: 48px 39px 0px 21px;
		display: flex;
		gap: 26px;
		width: 360px;
	}
	.company-img {
		/* width: 100%;
		 */
		width: unset;
		width: 50.46px;
		height: 12.84px;
	}

	.slack {
		width: 50.46px;
		height: 12.84px;
	}
	.line {
		display: none;
	}

	/* .about-content {
		margin: unset;
		display: flex;
		flex-direction: column;
		margin: 24px;
		
	} */

	.about-div {
		margin-left: unset;
		display: flex;
		flex-direction: column;
		margin: 24px 16px 0px 16px;
		/* height: fit-content; */
		/* height: 500px; */
	}

	.aboutus-img {
		display: none;
	}

	.about-content {
		width: 343px;
		/* height: 113px; */
	}
	.about-h1 {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
		/* or 31px */

		text-align: center;
		letter-spacing: 0.016em;
	}

	.about-content-data {
		width: 343px;
		height: 66px;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 180%;
		/* or 22px */

		text-align: center;
		letter-spacing: 0.016em;

		/* Dark/Gray */
	}
	.About-table {
		margin-top: unset;
		margin-right: unset;
		margin-top: 16px;
		margin-right: -37px;
		width: 340px;
		height: 244px;
		display: flex;
		flex-direction: column;
		background-color: #fafafa;
		gap: 16px;
	}

	.About-table-data {
		display: flex;
		margin-top: 10px;
		margin-left: 14px;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	.About-table-data span {
		/* margin: unset; */
		text-align: center;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
	}

	.aboout-line {
		margin: unset;
		height: 0px;
		width: 336px;
		border: 2px solid #ff6600;
	}
	.about-number {
		/* width: 64px;
		height: 45px; */

		width: 64px;
		height: 45px;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: #ffede6;
		border-radius: 6px;
		color: #ff6600;
	}

	.intrest {
		margin: unset;
		/* margin-top: 530px; */
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
	}

	.intrest-box {
		display: flex;
		margin-top: 24px;
		width: 370px;
		height: 171px;
		/* border: 1px solid black; */
		background: #ffffff;
		border-radius: 12px;
		/* margin-left: 132px;
	*/
	}

	.intrest-data {
		width: 340px;
		height: 88px;

		margin-left: 16px;

		/* border: 1px solid black; */
		margin-right: 16px;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 180%;
		/* or 22px */

		text-align: center;
		letter-spacing: 0.016em;

		/* Dark/Gray */

		color: #5b5b5b;
	}

	.intrest-main {
		margin: unset;
		height: 323px;
		/* margin-top: 117px; */
	}

	.aboutus-img-1 {
		display: block;
	}

	.intrest-box-all {
		margin: unset;
		display: block;

		height: 528px;
	}
	.h1-blockchain {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		display: flex;
		align-items: center;
		letter-spacing: 0.016em;
		color: #2b2b2b;
		margin-top: 21px;
	}
	.block-img {
		height: 40px;
		width: 40px;
	}

	.p-blockchain {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 180%;
		width: 268px;
		height: 60px;
		display: flex;
		align-items: center;
		letter-spacing: 0.016em;
	}
	.value-img {
		margin-left: 10px;
		/* margin-right: 22px; */
		height: 245px;
	}

	.our-value {
		margin: unset;
		/* height: 356px; */
		/* margin-left: 120px; */
		/* margin-right: 120px; */
		margin-top: 214px;
		/* border: 1px solid black; */
		display: flex;
		flex-direction: column;
		/* width: 614px
	px
	; */
	}

	.vlaues-h1 {
		text-align: center;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
		/* display: flex; */
		text-align: center;
		/* align-items: center; */
		/* color: #2b2b2b; */
		/* align-items: center; */
	}
	/* .bloc; */
	.vlaues-p {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 180%;
		color: #5b5b5b;
		text-align: center;
		width: 341px;
		height: 88px;
		/* width: 614px;
		height: 108px; */
	}

	.vlaues {
		margin-top: 43px;
		/* border: 1px solid black; */
		/* margin-left: 60px; */
		margin-left: unset;
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 10px;
	}
	.header-button-class {
		height: 48px;
	}

	.project {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
		margin-top: 193px;
		color: #ff6600;
	}
	.project-list {
		display: flex;
		flex-direction: column;
		margin: 16px;
	}

	.project-img {
		/* width: 58%; */
		width: 343px;
		height: 274px;
		/* margin-right: 19px; */
	}
	.p-projectlist {
		/* width: 10px; */
		width: 263px;
		height: 72px;
		margin-left: 16px;
		/* margin-top: 16px; */
		margin-top: unset;
		margin-top: 16px;
	}
	.p2-projectlist {
		display: none;
	}

	.p2-projectlist-small {
		/* width: 343px; */
		height: 44px;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 180%;
		width: 362px;
		margin-left: 10px;
	}

	.p2-learn {
		/* p2-learn */
		margin-left: 15px;
		margin-top: 10px;
		width: 106px;
		height: 22px;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #ff6600;
	}

	/* .logos-footer {
		width: 100px;
	} */

	.heading-h1 {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 800;
		font-size: 36px;
		line-height: 130%;
		width: 323px;
		height: 141px;
		text-align: center;
	}
	.heading-h2 {
		margin-top: 21px;
		width: 321px;
		height: 50px;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 180%;
		/* or 25px */

		text-align: center;

		/* Dark/Gray */

		color: #5b5b5b;
	}

	.btn-left {
		width: 161px;
		color: white;
		height: 48px;
		/* width: 208px; */
		/* height: 64px; */
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		background: #ff6600;
		border-radius: 10px;
		border: 1px solid;
	}
	.btn-right {
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		width: 161px;
		/* color: white; */
		height: 48px;
		background: #f5f5f5;
		border: 1px solid;
	}

	.images-1 {
		margin-top: 30px;
		width: 309px;
		height: 164px;
	}
	.image-frame {
		width: 309px;
		height: 164px;
	}
	.logoname {
		width: 117.05px;
		height: 36.27px;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 41px;

		/* Light/White */

		color: #ffffff;
	}
	.icons img {
		height: 36px;
		width: 36.5px;
	}

	.footer-home,
	.footer-about,
	.footer-our,
	.footer-values,
	.footer-project {
		width: 66.72px;
		/* Regular/R-18 */

		/* identical to box height */

		/* Light/White */
		cursor: pointer;
		color: #ffffff;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		/* width: 34.72px; */
		height: 16px;
	}

	.footer-nav {
		display: flex;
		flex-wrap: wrap;
		height: 82px;
	}

	/* .scroll {
		transition: 12s;
	} */
}
